:root{
    --roxo:  #64007D;
    --rosa:  #BF4EC1;
    --preto:  #000000;
    --branco:  #ffffff;
    --verde:  #00FF19;

}


*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: var(--roxo);
    display: flex;
    justify-content: space-between;

}

.logo {
    width:  8%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 1100px;
}

.menu-item{
    display: inline-block;
    padding: 10px;
    margin-top: 36px;
    color: var(--verde);
    font-size: 30px;
}
.principal{
    background-image: linear-gradient(var(--roxo),var(--branco));
    display: flex; 
    justify-content: center;
    
}
    
.principal-titulo{   
    font-size: 85px;
    
}

.principal-texto{
padding: 35px;
font-size: 45px;
}

.principal.imagem{
padding: 30px;
font-size: 30px;
}


